body {
  margin: 0;
  font-family: Arial, sans-serif;
  overflow: hidden;
  background-color: #b8b8b8;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}
#game-container {
  position: relative;
  width: 1200px;
  height: 600px;

  margin: 20px auto;
  border: 10px solid #6d6d6d;
  background: #fff;
  overflow: hidden;
  border-radius: 30px;
  background: url('img/landscape-1033.gif') no-repeat center center;
  background-size: cover; /* 🔸 Esto evita que el fondo se estire */
}

.personaje {
  position: absolute;
  width: 70px;
  height: 70px;
  /* background-color: #07a07c;
  border-radius: 50%;
  border: 5px solid #07a050; */
  background: url('img/ovnm0020.gif') no-repeat center center;
  background-size: contain;
}

.moneda {
  position: absolute;
  width: 30px;
  height: 30px;
  /* background-color: gold;
  border-radius: 50%;
  box-shadow: 0 0 10px 2px rgba(255, 223, 0, 0.8); */
  background: url('img/astm0032.gif') no-repeat center center;
  background-size: contain;
}

#puntos {
  font-size: 20px;
  text-align: center;
  margin: 10px 0;
}
/*tiempo*/
#tiempo {
  font-size: 20px;
  text-align: center;
  margin: 10px 0;
}
/*titulo y marcadores*/
h1 {
  font-size: 48px;
  background: linear-gradient(90deg, #3ca9ff, #7effa5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 10px 0;
  font-family: 'Comic Sans MS', cursive, sans-serif;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
  padding: 10px 20px;
  background-color: rgba(0, 0, 0, 0.3); /* Esto simula una "placa" detrás del texto */
  border-radius: 15px;
}


#marcadores {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(5px);
  color: #fff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
  margin-top: 10px;
}

#puntos, #tiempo {
  background: rgba(0, 0, 0, 0.2);
  padding: 8px 16px;
  border-radius: 10px;
  text-shadow: 1px 1px 3px #000;
}
